
hr { border:solid; border-width:thin;  color:#60C; background-color:#FFF;} 
/* hr.kurz{border:solid; border-width:thin;  color:#60C; width:90%; background-color:#FFF;} */

a:link { color:#308; } /* background-color:#CBF; } */
/*pre.code { background-color:#DFF;} */
pre.code { background-color:#F2F2F2;} 
pre.code.python.nocontrols.nogutter { background-color:#F2F2F2; }
pre.code.python.nogutter { background-color:#F2F2F2; }
pre.code.python { background-color:#F2F2F2; }

pre.shell{ 
    background-color:#000;
    color: #FFF;
}
pre.bold_normal{
    background-color:#CBF;
    font-weight: bold;
    font-size: 1.4em;
}
table.table{
    border-collapse: collapse;
}
table.table td{
    border: 1px solid #60C;
}

/*---- head ----*/
div.head { 
/*    background-color:#CBF; */
/*    position: fixed; */ /* fixed to viewport, always visible when scrolling */
    width: 100%;
    border-top: solid #60C 2px; 
    padding-top: 5px; 
    padding-bottom: 30px; 

}

/*---- main nav bar ----*/
div.nav_main {
    height: 30px;
    width: 90%; 
    margin-left: 5%;
    padding-bottom: 0px;
    padding-top: 5px;  
    border-bottom: solid #60C 2px;
/*    background-color: #CBF; */
    text-align: center;
/*    position: fixed; */
}
div.nav_main ul {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    white-space: nowrap;
    width: 100%;
}
div.nav_main ul li {
    list-style-type: none;
    font-weight: bold;
    display: inline;
    color: #000;
}
div.nav_main ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #60C;
    background-color: #DCF;
    padding: 0 5%;
}
div.nav_main li a:link {
    color: #60C;
}
div.nav_main li a:visited {
    color: #A4F;
}
div.nav_main li a:hover {
    font-weight: bold;
    color: #60C;
    background-color: #BAF;
}

div.nav_main ul li a.selected {
    text-decoration: none;
    font-weight: bold;
    color: #60C;
    background-color: #BAE;
    padding: 0 5%;
}
div.nav_main ul li a.selected:link {
    color: #60C;
}
div.nav_main ul li a.selected:visited {
    color: #A4F;
}
div.nav_main ul li a.selected:hover {
    font-weight: bold;
    color: #60C;
    background-color: #BAE;
}

/*------- nav tutorials -------------*/

div.nav_tuts {
/*    height: 30px; */
    width: 90%; 
    margin-left: 5%;
    padding-bottom: 5px;
    padding-top: 5px;  
/*    border-bottom: solid #60C 2px; */
/*    background-color: #CBF; */
    text-align: center;
/*    position: fixed; */
}

div.nav_tuts ul {
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    white-space: nowrap; 
/*    display: block;*/
    width: 100%;
}

div.nav_tuts ul li {
    font-weight: bold;
    margin: 1px;
/*    display: block; */
    color: #000;
}
div.nav_tuts ul li a {
    display: block;
    width: 7em;
    text-decoration: none;
    font-weight: bold;
    color: #60C;
    background-color: #DCF;
/*    padding: 1px 2px; */
}
div.nav_tuts li a:link {
    color: #60C;
}
div.nav_tuts li a:visited {
    color: #A4F;
}
div.nav_tuts li a:hover {
    font-weight: bold;
    color: #60C;
    background-color: #BAF;
}
div.nav_tuts ul li a.selected {
    text-decoration: none;
    font-weight: bold;
    color: #60C;
    background-color: #BAE;
    padding: 0 5%;
}
div.nav_tuts ul li a.selected:link {
    color: #60C;
}
div.nav_tuts ul li a.selected:visited {
    color: #A4F;
}
div.nav_tuts ul li a.selected:hover {
    font-weight: bold;
    color: #60C;
    background-color: #BAE;
}

/*---- body ----*/


body { 
    background-color:#CCBBFF; color:#000000;
    min-width: 700px;
    max-width: 850px;

    margin-left:auto;
    margin-right:auto;
    
    background-image: url(../images/logo_big.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

} 

div.body{
    margin-left: 5%;
    width: 90%;
}

/*---- news ----*/
div.news{
    border-bottom: solid #60C 2px;
    padding-bottom: 10px;
}
div.news div.heading{
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*---- projects ----*/
div.project{
    margin-top: 15px;
/*    background-color: #DCF; */
    border: solid #60C 1px;
    padding: 10px;
/*
    border-color: #60C;
    border-style: solid;
*/
}
/*
div.project a{
    background-color: #EDF;
}
*/
/*---- footer ----*/
div.footer{
/*    background-color: #CBF; */
    width: 90%;
    padding: 10px 5% 5px; 
    border-bottom: solid #60C 2px;
    text-align: center;
}
div.footer div.foot{
    border-top: solid #60C 2px;
    padding-top: 5px;
}
div.foot div{
    display: inline;
    padding: 0 5px 0;
}
div.foot a.copyright{
    font-size:small; 
} 
div.foot img.counter{
}
